{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="text-right">
        <a href="{{ path('article_index') }}">Revenir à la liste</a>
    </div>
    <h4>{{ article.title }}</h4>

    <p>{{ article.description }}</p>
</div>
{% endblock %}