{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.session.flashbag.has('info') %}
            <div class="alert alert-info">
                {% for flashMessage in app.session.flashbag.get('info') %}
                    {{ flashMessage }}
                {% endfor %}
            </div>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in aArticles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{% if article.description|length > 20 %}{{ article.description|slice(0, 20) ~ '..' }}
                        {% else %} {{ article.description }} {% endif %}
                    </td>
                    <td><a href="{{ path('article_detail', {'iId' : article.id}) }}">voir les détails</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Aucun article n'est disponible pour le moment</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}